.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
}

.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea{
    border: none;
    transition: border-bottom 400ms ease-in;
    letter-spacing: -1px;

    &:focus{
        outline: none;
        border-bottom: 2px solid $input-active;
    }
}

.notes__title-input{
    color: $text-color-secondary;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea{
    color: $text-color-secondary;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image img{
    box-shadow: 5px 5px darkgray;
    height: 100px;
}